*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.big_container{
  height: 100vh;
  background: linear-gradient(to bottom,  #2F9688 15%,  #D7DBD6 15%,  #D7DBD6);
}

.my_container{
  margin: 0 auto;
  max-width: 1200px;
  background-color: red;
  height: 100%;
}

img{
  width: 50px;
  border-radius: 50%;
}

i{
  color: #adadad;
  margin: 0 8px;
}

.box-left{
  height: 100%;
  background-color: blue;
}

.box-right{
  height: 100%;
  background-color: blueviolet;
}

.user{
  height: 70px;
  background-color: #eaeaea;
}

.notification{
  background-color: #8edafc;
  height: 80px;
}

.bell{
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
}

.bell i.fa-bell-slash{
  color: #8edafc;
  font-size: 1.2rem;
}

.notification-text p{
  margin: 0;
}

.notification-text a{
 color:#607d91;
}

.search{
  height: 54px;
  background-color: #fafafa;
}

.box-input{
  background-color: white;
  height: 100%;
}

.box-input input{
  border: none;
  border-left: 2px solid #fafafa;
  height: 100%;
  width: 86%;
}

.box-input i{
  width: 10%;
  text-align: center;
}

