/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i{
  color: #adadad;
  margin: 0 8px;
}

/* **************************************** CONTAINER */

.big_container{
  height: 100vh;
  background: linear-gradient(to bottom,  #2F9688 15%,  #D7DBD6 15%,  #D7DBD6);
}

.my_container{
  margin: 0 auto;
  max-width: 1200px;
  background-color: red;
  height: 100%;
}

/* ************************************** BOX LEFT */

.box-left{
  height: 100%;
  background-color: white;
}

.box-left img{
  width: 50px;
  border-radius: 50%;
}

/* *********************************** USER */

.user{
  height: 70px;
  background-color: #eaeaea;
}

/* ******************************  NOTIFICATION */

.notification{
  background-color: #8edafc;
  height: 80px;
}

.bell{
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
}

.bell i.fa-bell-slash{
  color: #8edafc;
  font-size: 1.2rem;
}

.notification-text p{
  margin: 0;
}

.notification-text a{
 color:#607d91;
}

/* ******************************  SEARCH */

.search{
  height: 54px;
  background-color: #fafafa;
}

.box-input{
  background-color: white;
  height: 100%;
}

.box-input input{
  border: none;
  border-left: 2px solid #fafafa;
  height: 100%;
  width: 86%;
}

.box-input i{
  width: 10%;
  text-align: center;
}

/* ********************************* CONTACTS */

.contact{
  height: 80px;
}

.contacts{
  height: calc(100% - 204px);
  overflow-y:scroll;
  cursor: pointer;
}

.size{
  font-size: 0.8rem;
  color: #607d91;
}

div.active{
  background-color: #e9ebeb;
}

/* ***********************************  BOX RIGHT */

.box-right{
  height: 100%;
  background-color: blueviolet;
}

.box-right img{
  width: 40px;
  border-radius: 50%;
}

.box-right .user{
  border-left: 1px solid #adadad;
}

/************************************  CHAT  */

.chat{
  height: calc(100% - 145px);
  background-image: url(../img/mine.jpg);
  overflow-y:scroll;
}

/* ********************************  BOT-CHAT */

.box-bot-chat{
  height: 75px;
  background-color: #eaeaea;
}

.box-bot-chat i{
  font-size: 1.5rem;
}

.box-fa{
  width: 100px;
}
